.all-sepage{
    background-image: url(./imgs/page7.jpg);    
    height: 950px;
}

.seventh-page__blocks{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.seventh-page__l-block{
    width: 480px;
    height: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.seventh-page__l-block-1{
    height: 37px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.seventh-page__l-block-2{
    width: 100%;
    text-align: center;
    height: 70px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 37px;
    color: #000000;
}

.seventh-page__l-block-3{
    height: 30px;
    width: 100%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    color: #D90000;
}

.seventh-page__r-block{
    width: 620px;
    height: 680px;
    background-color: white;
}

.seventh-page__r-block-1{
    /* width: 100%; */
    padding-left: 50px;
    text-align: start;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 50px;
}

.seventh-page__r-block-input{
    width: 550px;
    margin-left: 50px;
    height: 50px;
    border: 1px solid rgba(0, 0, 0, 0.54);
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: 50px;
    font-size: 30px;
}

.seventh-page__r-block-3{
    /* width: 100%; */
    padding-left: 50px;
    text-align: start;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 50px;
}

.seventh-page__r-block-5{
    /* width: 100%; */
    text-align: start;
    padding-left: 50px;
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin-top: 50px;
}

.seventh-page__r-block-button{
    width: 400px;
    height: 70px;
    background: #D90000;
    border-radius: 10px;
    margin-top: 70px;
    width: 75%;
    cursor: pointer;
}

.seventh-page__r-block-button:hover{
    background:#910000
}

.seventh-page__r-block-button-txt{
    height: 30px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: #FFFFFF;
}

.seventh-page__r-block-0{
    height: 45px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 44px;
    color: #A33F3F;
    padding-top: 45px;
}

@media (max-width:1024px) {
    .seventh-page__blocks{
        height: 100%;
        display: flex;
        flex-direction: column;
    }

    .seventh-page__l-block{
        width: 320px;
        height: 210px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .seventh-page__l-block-1{
        height: 25px;
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #000000;
    }

    .seventh-page__l-block-2{
        width: 80%;
        height: 50px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 20px;
        line-height: 24px;
        text-align: center;   
        color: #000000;
    }

    .seventh-page__l-block-3{
        height: 25px;
        width: 100%;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #D90000;
    }

    .seventh-page__r-block{
        width: 100%;
        height: 600px;
        background-color: white;
    }

    .seventh-page__r-block-0{
        height: 25px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #A33F3F;
    }

    .seventh-page__r-block-1{
        text-align: start;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        padding: 0;
        margin-left: 20px;

    }

    .seventh-page__r-block-input{
        width: calc(100% - 40px);
        height: 50px;
        margin: 0 20px;
        border: 1px solid rgba(0, 0, 0, 0.54);
    }

    .seventh-page__r-block-3{
        text-align: start;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        padding: 0;
        margin-left: 20px;
        margin-top: 30px;
    }

    .seventh-page__r-block-5{
        width: 280px;
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        color: #000000;
        padding: 0;
        margin-left: 20px;
        margin-top: 30px;
    }

    .seventh-page__r-block-button{
        height: 70px;
        background: #D90000;
        border-radius: 10px;
        margin-top: 70px;
    }

    .seventh-page__r-block-button-txt{
        height: 20px;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 20px;
        line-height: 24px;
        color: #FFFFFF;
    }

}


